 .navbar h1 {
    color: #ffffff;
}
.nav-link{
    color: #ffffff;
    display: flex !important;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
.nav-link li{
    padding: 10px;
}
